/*---------全局--------*/
* {
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration: none;
}
/*---------全局--------*/

/*---------头部结构部分--------*/
header {
	width: 100%;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #F7F7F7;
	font-size: 13px;
}

header ul:nth-of-type(1) {
	flex: 1;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 100px;
}
header ul:nth-of-type(1) li{
	line-height: 30px;
	margin-top: 8px;
	padding-left: 10px;
	
   
}
header ul:nth-of-type(2) li{
	line-height: 30px;
	margin-top: 8px;
	padding-left: 10px;
   
}
header ul:nth-of-type(2) li a{
	color: black;
   
}
header ul:nth-of-type(2) {
	flex: 2;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 470px;
}

/*---------头部结构部分--------*/

/*---------城市列表结构部分--------*/
#nav {
	width: 455px;
	height: 190px;
	background: #FBFBFB;
	margin-left: 30px;
	font-size: 15px;
	display: none;
	position: relative;
	left: 0px;
	top: 0px;
	z-index:100;
	border: 1px solid gainsboro;
}

#nav ul:nth-of-type(1) {
	width: 455px;
	height: 20px;
	display: flex;
	list-style: none;
	justify-content: space-between;
	position: relative;
}
#nav ul:nth-of-type(2){
	overflow: hidden;
	font-size: 13px;
	background: white;
	padding-top: 10px;
}
#nav ul:nth-of-type(2) li{
	float: left;
	margin-left: 10px;
}
#nav ul:nth-of-type(3){
	overflow: hidden;
	font-size: 13px;
	background: white;
	padding-top: 10px;
	position: relative;
}
#nav ul:nth-of-type(3) li{
	float: left;
	margin-left: 10px;
}
#nav ul:nth-of-type(4){
	width: 455px;
	height: 87px;
	overflow: hidden;
	font-size: 13px;
	background: white;
	padding-top: 10px;
	position: relative;
	
}
#nav ul:nth-of-type(4) li{
	float: left;
	margin-left: 10px;
}

#btn {
	width: 60px;
	height: 20px;
	border: none;
}
/*---------城市列表结构部分--------*/

/*---------轮播定位列表结构部分--------*/
#container{
	width: 80%;
	margin: auto;
	/*border: 1px solid;*/
	overflow: hidden;
	position: absolute;
	left: 130px;
	top: 30px;
}


#ul_x{
	display: flex;
	width: 100%;
	height: 100px;
	justify-content: space-between;
}

#ul_x ul li{
    float: left;
    padding: 30px 20px;
}

/*---------轮播定位列表结构部分 hover效果ul li--------*/
/*修手机部分样式*/
.liebiao{
	width: 335px;
	height: 430px;
	border-bottom: 1px solid gainsboro;
	position: absolute;
	left: 0px;
	top: 0px;
	background: rgba(0,0,0,0.7);
	z-index: 100;
}
.liebiao .li1,.li2,.li3,.li4{
	width: 100%;
	height: 25%;
	border-bottom: 1px solid gainsboro;
	color: white;
	line-height: 108px;
	position: relative;
	font-size: 20px;
}
.li1:hover{
	background: #44AA77;
}
.li2:hover{
	background: #44AA77;
}
.li3:hover{
	background: #44AA77;
}
.li4:hover{
	background: #44AA77;
}
.li1 p img{
	width: 50px;
	height: 50px;
	margin-left: 70px;
	margin-right: 20px;
	
}
.li2 p img{
	width: 50px;
	height: 50px;
	margin-left: 70px;
	margin-right: 20px;
	
}
.li3 p img{
	width: 50px;
	height: 50px;
	margin-left: 70px;
	margin-right: 20px;
}
.li4 p img{
	width: 50px;
	height: 50px;
	margin-left: 70px;
	margin-right: 20px;
	
}
.li1-div{
	width: 700px;
	height: 430px;
	/*border: 1px solid red;*/
	position: absolute;
	left: 332px;
	top: 0px;
	z-index: 100;
	background: white;
	color: black;
	display: none;
	font-size: 12px;
	
}
.spanleft{
	width: 130px;
	display: inline-block;
	text-align: right;
}
.spanright{
	margin-left: 20px;
}
.spanright:hover{
	border-bottom: 1px solid #44AA77;
}
.li1-div li{
	height: 47px;
	/*border: 1px solid red;*/
	line-height: 47px;
}
.li2-div{
	width: 700px;
	height: 430px;
	/*border: 1px solid red;*/
	position: absolute;
	left: 332px;
	top: -110px;
	z-index: 100;
	background: white;
	display: none;
	color: black;
	
}
.li2-div ul{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	/*justify-content: center;*/
	align-items: center;
	padding-top: 30px;
	
}

.li2-div ul li{
	border: 1px solid gainsboro;
	width: 150px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	margin: 10px;
}
.li2-div ul li:hover{
	border: 1px solid #44AA77;
	color: #44AA77;
}
.li3-div ul li:hover{
	border: 1px solid #44AA77;
	color: #44AA77;
}
.li4-div ul li:hover{
	border: 1px solid #44AA77;
	color: #44AA77;
}
.li3-div ul{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	/*justify-content: center;*/
	align-items: center;
	padding-top: 30px;
	margin-left: 40px;
	
}

.li3-div ul li{
	border: 1px solid gainsboro;
	width: 100px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin: 10px;
}
.li3-div{
	width: 700px;
	height: 430px;
	/*border: 1px solid red;*/
	position: absolute;
	left: 332px;
	top: -218px;
	z-index: 100;
	background: white;
	display: none;
	color: black;
	
}
.li4-div{
	width: 700px;
	height: 430px;
	/*border: 1px solid red;*/
	position: absolute;
	left: 332px;
	top: -326px;
	z-index: 100;
	background: white;
	display: none;
	color: black;
	
}
.li4-div ul{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	/*justify-content: center;*/
	align-items: center;
	padding-top: 30px;
	margin-left: 40px;
	margin-top: 40px;
	
}

.li4-div ul li{
	border: 1px solid gainsboro;
	width: 120px;
	height: 50px;
	line-height: 40px;
	text-align: center;
	margin: 15px 5px;
}
/*修电脑部分样式*/

/*卖二手手机样式*/
/*---------轮播定位列表结构部分 hover效果ul li--------*/

/*---------热门手机回收,精选标题部分-------*/
.title{
 width: 100%;
 height: 50px;
 display: flex;
 background: #F7F7F7;
 justify-content: space-between;
 align-content: center;
}
.title h4{
	height: 40px;
	width: 100px;
	/*border: 1px solid turquoise;*/
	line-height: 40px;
}
.title a{
	height: 40px;
	width: 100px;
	/*border: 1px solid turquoise;*/
	line-height: 40px;
}
/*---------热门手机回收,精选标题部分-------*/

/*---------热门手机回收部分-------*/
#box_1{
	width: 100%;
	height: 215px;
	display: flex;
}
#box_1 div{
	flex: 1;
	border: 1px solid gainsboro;
	display: flex;
	justify-content: center;	
	align-items: center;
}

#left{
	width: 100px;
	height: 100px;
}
.left img{
	width: 215px;
	height: 100%;
}
.right{
	width: 100%;
	height: 100%;
	display: flex;	
}
.right figure img{
	height: 70%;
	margin-top: 30px;
}
.right figure{
	width: 25%;
	border: 1px solid gainsboro;
	text-align: center;	
}

/*---------热门手机回收部分-------*/
/*------------优品精选部分--------*/
#box_2{
	width: 100%;
	height: 350px;
	border: 1px solid gainsboro;
	display: flex;
}
.right2 figure img{
	height: 70%;
	margin-top: 20px;
	
	
}
.right2 figure{
	width: 25%;
	border: 1px solid gainsboro;
	text-align: center;
}
.right2{
	width: 100%;
	height: 100%;
	display: flex;
}
.right2 img{
	width: 120px;
	height: 200px;
}
/*---------优品精选部分-------*/

/*---------搜索部分-------*/
#serch{
	width: 100%;
	height: 80px;
    display: flex;
    align-items: center;
}
#serch div{
	width: 150px;
	height: 50px;
	border: 1px solid #118855;
	margin-right: 10px;
	}
#serch input{
	width: 460px;
	height: 50px;
    border: none;
    border: 1px solid #118855;
}
#serch a{
	display: block;
	width: 100px;
	height: 50px;
	background: #118855;
	color: white;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
}
/*---------搜索部分-------*/

/*---------店铺详情部分-------*/
#container_2{
	width: 100%;
	display: flex;
}
.container_2_left{
	width: 70%;
	height: 700px;
}
.container_2_left .v_1{
	/*border: 1px solid red;*/
	display: flex;
}
.container_2_left .v_1 li{
	width: 213px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	border: 1px solid gainsboro;
	background: g;
}
.container_2_left img{
	width: 100px;
	height: 100px;
}
.box_1{
	width: 100%;
	height: 120px;
	border: 1px solid gainsboro;
	display: flex;
	margin-top: 5px;
}
.box_1 div:nth-of-type(1){
	width: 120px;
	height: 120px;
}
.box_1 div:nth-of-type(2){
	width: 620px;
	height: 120px;
	overflow: hidden;
	padding-top: 20px;
}
.box_1 div:nth-of-type(2) img{
	width: 80px;
	height: 80px;
}
.box_1 div:nth-of-type(2) p{
	text-overflow: ellipsis;
	white-space: nowrap;
}
.box_1 div:nth-of-type(3){
	width: 300px;
	height: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
	
}
.box_1 div:nth-of-type(3) a{
	display: block;
	border: 1px solid #118855;
	width: 100px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	margin-left: 10px;
	color: #118855;
	display: none;
}

#container_2 .v_1{
	width: 100%;
	height: 50px;
	background: #F7F7F7;
	display: flex;
}
#container_2 .v_1 li{
	width: 120px;
	/*border: 1px solid red;*/
	text-align:center;
	line-height: 50px;
}

#container_2 .v_1 .ditu{
	width: 100px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	margin-left: 150px;
	margin-top: 10px;
}
/*---------店铺详情部分-------*/

/*---------商家好评榜详情部分-------*/
.container_2_right{
	width: 25%;
	height: 680px;
	margin-left: 5%;
	/*border: 1px solid red;*/
	position: absolute;
	right: 0px;
	top: 0px;
}
.container_2_right li{
	width: 100%;
	height: 90px;
	border: 1px solid gainsboro;
	display: flex;
	align-items: center;
}
.container_2_right li:nth-child(1) span{
	border: 3px solid orangered;
	color: orangered;
}
.container_2_right li:nth-child(2) span{
	border: 3px solid orangered;
	color: orangered;
}
.container_2_right li:nth-child(3) span{
	border: 3px solid orangered;
	color: orangered;
}
#hed{
	width: 100%;
	height: 50px;
	background: #F7F7F7;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
}
#v2{
	display: flex;
	position: relative;
}
/*序号*/
.yuan{
	height: 35px;
	width: 35px;
	border: 3px solid gray;
	display: inline-block;
	border-radius: 50%;
	text-align: center;
	line-height: 35px;
	color: gray;
	margin-left: 30px;
	margin-right: 30px;
}
/*序号*/
/*---------商家好评榜详情部分-------*/

/*---------脚部结构部分-------*/
#foot{
	width: 100%;
	height: 230px;
	background: #FAFAFA;
	position: absolute;
	left: 0px;
	bottom: -1720px;
}
#foot div:nth-of-type(1){
	display: flex;
	justify-content: center;
	width: 100%;
	height: 150px;
	align-items: center;
	border: 1px solid gainsboro;
}
#foot div:nth-of-type(2){
	text-align: center;
	padding-top: 30px;
	border: 1px solid gainsboro;
}
#foot div:nth-of-type(1) ul{
	width: 200px;
	
}
.li-b{
	font-size: 20px;
	font-weight: 800;
}
/*---------脚部结构部分-------*/

/*box_1hover效果*/
.box_1:hover{
	background: ghostwhite;
}
/*hover效果让a标签显示*/
.box_1:hover div .store{
	display: block;
}
.box_1 div:nth-of-type(1){
	display: flex;
	justify-content: center;
	align-items: center;
}

.remen-2{

	font-size: 12px;
	margin-right: 10px;
}
.remen img{
    width: 50px;
    height: 50px;
}
.list li{
	border: 1px solid gainsboro;
}

/*遮罩层*/
#zhezhao{
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0,0,0,0.6);
	display: flex;
	justify-content: center;
	display: none;
	z-index: 200;
}
#denglu_1{
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0,0,0,0.6);
	display: flex;
	justify-content: center;
	display: none;
	z-index: 200;
}
/*注册样式*/
.login-div{
	width: 600px;
	height: 350px;
	background:white;
	position: absolute;
	left: 640px;
	top: 200px;
	display: flex;
	justify-content: center;
	background-image: url(../img/fdggfdgfd.jpg);
	background-position: 100% 100%;
	
}
.login-div label{
	width: 57px;
	height: 40px;
	text-align: right;
}
.login-div h3{
	
	text-align: center;
}
.login-div #user,#pwd,#user1,#pwd1{
	width: 300px;
	height: 40px;
	
}
.login-div #denglu,#zc,#Dl{
	width: 200px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	background: gainsboro;
}
/*登陆样式*/
.login-div{
	width: 600px;
	height: 400px;
	background:white;
	position: absolute;
	left: 640px;
	top: 200px;
	display: flex;
	justify-content: center;
	background-position: 100% 100%;
	
}
#center{
	width: 100%;
	height: 100%;
	border: 1px solid black;
}
.login-div label{
	width: 57px;
	height: 40px;
	text-align: right;
}
.login-div h3{
	
	text-align: center;
}
.login-div #user,#pwd{
	width: 300px;
	height: 40px;
}
.login-div #zhuce{
	width: 200px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	background: gainsboro;
}
 html, body {
      position: relative;
      height: 100%;
    }
    body {
     /* background: #eee;*/
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color:#000;
      margin: 0;
      padding: 0;
    }
    .swiper-container {
      width: 100%;
      height: 100%;
    }
    /*.swiper-container .swiper-wrapper{
    	width: 100%;
      height: 100%;
    }*/
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
    .swiper-container .swiper-wrapper  img{
    	width: 100%;
    	height: 100%;
    }
